@model ControleEstoque.Models.Categoria

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<!DOCTYPE html>
<html lang="BR">

<head>
    <title>Categoria</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>

<body>
    <!-------------------------------------- -->
    <!--  Nome -->
    <div class="responsivo-8">
        <h4 class="NomeProduto_Fornecedor8">
            Nome
        </h4>
    </div>

    <div class="responsivo-8">
        <div class="responsivo-Categoria8">
            <input class="inputNomeProduto8" type="text" name="Nome" placeholder="Nome">

        </div>
    </div>

    <!-------------------------------------- -->
    <!-- Descrição-->
    <div class="responsivo-8">
        <h4 class="Descricao_Categoria8">
            Descrição
    </div>

    <div class="responsivo-8">
        <div class="responsivo-Categoria8">
            <input class="DescricaoCategoria8" type="text" name="Nome" placeholder="Coloque a Descrição">

        </div>
    </div>



    <!-------------------------------------- -->
    <!-- Botao criar  -->
    <div class="responsivo-8">
        <a href="">
            <input type="Button" class="Botaocriar8" value="Criar">
        </a>
    </div>
    <!-------------------------------------- -->
    <!-- Botao Voltar  -->
    <div class="responsivo-8">
        <a href="">
            <input type="Button" class="BotaoVoltar8" value="Voltar">
        </a>
    </div>

</body>

</html>







@*<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoriaNome" class="control-label"></label>
                <input asp-for="CategoriaNome" class="form-control" />
                <span asp-validation-for="CategoriaNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
