@model ControleEstoque.Models.Lote

@{
    ViewData["Title"] = "Delete";
}
<h1>Deletar</h1>

<<<<<<< HEAD
<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar esse lote?</h3>
=======
<h3>Voce tem certeza que deseja deletar?</h3>

>>>>>>> refs/remotes/origin/main
<div>
    <h4>Lote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.Cep)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LoteId" />
<<<<<<< HEAD
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn " asp-action="Index">Voltar</a>
=======
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a class="btn btn-success" asp-action="Index">Voltar</a>
>>>>>>> refs/remotes/origin/main
    </form>
</div>
